      <div id="sidebar"> 
      </div> 
 
      <div id="content"> 
        <div id="header"> 
          <h1>Mojito Recipe</h1> 
          <h2>You&rsquo;re nearby!</h2> 
        </div> 
 
        <div id="getting-started"> 
          <h1>Getting started</h1> 
          <ol> 
          <li> 
            <h2>3-4 oz White Rum</h2> 
            <p><a href="http://www.havana-club.com/">Havana Club</a> is strongly recommended.</p> 
          </li> 
 
          <li> 
            <h2>Juice of 1 Lime</h2> 
          </li> 
          <li> 
            <h2>1-2 tsp Sugar</h2> 
            <p>Brown's better then white</p> 
          </li> 
          <li> 
            <h2>Some Mint Springs</h2> 
          </li> 
          <li> 
            <h2>Soda Water</h2> 
            <p>Insider tend to use Schweppes Ginger Ale instead</p> 
          </li> 
        </ol> 
        <p> 
          Dissolve the sugar in the lime juice in a tall glass.
          Gently crush the mint in the glass. Add the white rum,
          crushed ice, then fill with soda water, stir and serve,
          garnished with a mint sprig. If you're using Schweppes
          Ginger Ale, just reduce the amount of sugar.
        </p> 
        </div> 
      </div> 
    
      <div id="footer">&nbsp;</div> 
